<div style="margin: 30px 20px 20px;">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-width-table">
    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef class="centered"> Id</th>
      <td mat-cell *matCellDef="let element" class="centered"> {{ element.id }}</td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef class="centered"> Name</th>
      <td mat-cell *matCellDef="let element" class="centered"> {{ element.name }}</td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef class="centered"> Email</th>
      <td mat-cell *matCellDef="let element" class="centered"> {{ element.email }}</td>
    </ng-container>

    <!-- Bills Column -->
    <ng-container matColumnDef="bills">
      <th mat-header-cell *matHeaderCellDef class="centered"> Bills</th>
      <td mat-cell *matCellDef="let element" class="centered">
        <button mat-button [routerLink]="['/bills', element.id]">Bills</button>
      </td>
    </ng-container>

    <!-- Table Rows -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
